extends main

block nav
  nav#header
    #mobile-branding
    #mobile-expand
      .line
      .line
      .line
    #nav-items
      a(data-scroll,href="#featured")#branding
      ul
        li
          a(data-scroll,href="#about") About
        li
          a(data-scroll,href="#reel") Reel
        li
          a(data-scroll,href="#portfolio") Work
        li
          a(data-scroll,href="#clients") Clients
        li
          a(data-scroll,href="#contact") Contact


block featured
  #featured
    //-
      img#placeholder(src="images/placeholder.jpg")
      #text
      ul.slidesjs-pagination
        -var c = 0
        -each val in data.featured
          -c++
          li.slidesjs-pagination-item
            unless c == 1
              a(class=c-1) #{val.text}
            else
              a.active(class=c-1) #{val.text}


    video#video-1.video-js.featured-video(preload='auto',autoplay)
    //-
      #nav-left
      #nav-right


block about
  section#about
    p.callout="A versatile group of innovators dedicated to creating unique environments for any size event. Trusting the project to lead the product, we focus on preserving the true spirit and motivation behind your biggest ideas. From inception to showtime expect uncommon care."
    #services
      h1="Capabilities"
      p="Our in-house team is poised to work with you to provide the suite of services that fit your needs."
      ul.all-services
        li.produce
          ul.services
            li.img
            li.head produce
            li show
            li creative
            li technical
            li content
        li.design
          ul.services
            li.img
            li.head design
            li lighting
            li multi media scenic
            li video content
            li graphic design
        li.model
          ul.services
            li.img
            li.head technical
            li previsualization
            li programming
            li site planning
            li 3d modeling
        li.direct
          ul.services
            li.img
            li.head direction
            li show
            li creative
            li technical
            li lighting
        //-
          li.light
            ul.services
              li.img
              li.head light
              li design
              li previsualization
              li programming
              li direction
    //-
      section#process
        h1="Process"
          span.line
        p="We believe that process is paramount. We have distilled ours into six distinct phases."
        ul.icons
          each val,index in data.process
            li
              img(src=val.icon)
            unless index == data.process.length-1
              li
                img(src="/images/pointing_arrow.png")
        section.slideshow
          each val,index in data.process
            +process(val)

block reel
  section#reel
    video#video-2.video-js

block portfolio
  section#portfolio
    h1="Work"
    #active(style="display:none")
      div.close-active
      #project-featured
        #project-desc
          .details
            article.event
              h5="Event:"
              p
            article.role
              h5="Role:"
              p
            article.location
              h5="Location:"
              p
            article.dates
              h5="Date(s):"
              p
          .desc
            p
    //-
      div.hero
        if data.hero.length > 0
          +image(data.hero[0].image,"Featured",true)
    ul.projects
      each val in data.projects
        +project(val)


//-
  block history
    section#history
      .right-bg-1
      .right-bg-2
      .left-bg-1
      .left-bg-2
      h1="Our History"
        span.line
      section.text
        p Independently established lighting designers Spike Brant and Justin Collie first began working together in 1987. As technicians with Def Leppard and The Cure, and ultimately collaborating as designers for Korn, the duo began to realize their style and drive were complimented when working together and decided to form an alliance that became known as ‘ARTFAG’.
        p Over the next decade, Spike and Justin began evolving their technique, reaching beyond lighting design and programming. They envisioned events from every angle, and found ways to contribute to the spirit of the production as a whole. Coining the term ‘PERFORMANCE ENVIRONMENT DESIGN’, the pair’s all encompassing detail driven approach caught on. The ‘GROUP’ has evolved from their detailed attention to event culture and is now a collaboration of many skilled technicians and artists.


block clients
  section#clients
    section#testimonials
      each val in data.testimonials
        +testimonial(val)
    h1="Clients"
    ul.clients
      each val in data.clients
        +client(val)

block contact
  section#contact
    div.text
      h1="Contact"
      p.phone="+1 717 435 8544"
      p.address="533 Janet Avenue"
      p.address="Lancaster PA 17601"
      p.email="INFO@PEDG.NET"
      //-
        ul.social
          a(href="http://twitter.com/PEDG22", target="_blank")
            li.twitter
          a(href="http://www.facebook.com/PEDGLLC", target="_blank")
            li.facebook
          a(href="http://vimeo.com", target="_blank")
            li.vimeo
          a(href="https://www.linkedin.com/company/1557831", target="_blank")
            li.linkedin
    a.backtotop(data-scroll, href="#featured")

//Mixin's
mixin image(src,text,background)
  figure
    if background
      .background
    figcaption=text
    img(src=src,data-src=src)

mixin client(_client)
    li.client()
      +image(_client.image,'',false)
mixin project(_project)
    li.project(class=_project.slug)
      a.project(data-slug=_project.slug)
        +image(_project.thumbnail, _project.title, true )

mixin testimonial(_test)
    article.testimonial
      img.branding(src=_test.logo)
      p.quote
        span.left &ldquo;
        span.text #{_test.text}
        span.name #{_test.name}
          span.title #{_test.title}
        span.right &rdquo;
      figure.tint
        img.background(src=_test.background)

mixin process(_process)
      article.process-single
        section.left
          img(src=_process.image)
        section.right
          h4 #{_process.title}
          p #{_process.description}
