extends layout

block content
  #main
    block nav
    block featured
    block about
    block reel
    block portfolio
    block history
    block clients
    block contact
    script
      -var videoLinks = []
      -var videoText = []
      -each val in data.featured
          //-#{JSON.stringify(val)}
          -videoLinks.push(val.url)
          -videoText.push(val.text)
      !="var videoPlay ="
      !{JSON.stringify(videoLinks)}
      !=";\n"
      !="var videoText ="
      !{JSON.stringify(videoText)}
      !=";\n"
      -if(project != null)
        !='var project ='
        !{JSON.stringify(project)}
        !=';\n'
      -else
        !='var project = null;\n'
      -if(page != null)
        !='var page ="'
        !{page}
        !='";\n'
      -else
        !='var page = null;\n'
    script(src="/javascripts/main.js")
